@import url("./variable.css");

@import url("./media-query.css");

.button-create {
  background-color: var(--color-button-create);
  color: var(--color-text-light);
}
.create,
.recipe-listing,
.admin-title {
  text-align: center;
  padding-bottom: 2rem;
}
.admin-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.admin-container-right {
  padding: 1rem;
}
