@import url("./variable.css");

@import url("./media-query.css");

.recipes-title {
  text-align: center;
  color: var(--color-text-recipe-title);
}
.recipe-body {
  min-height: 55vh;
}
.recipe-single {
  display: flex;
  gap: 3rem;
  padding: 1rem 3rem;
}
.recipe-text {
}
.recipe-info {
  padding: 1rem 3rem;
  text-align: center;
  line-height: 1.5;
}

.recipe-text-info {
  background: #ededed;
  padding: 1rem;
  color: #000000;
  border-radius: 0.5rem;
}

.button-share {
  background-color: var(--color-button-share);
  color: var(--color-text-light);
}
.btn-share {
  padding: 1rem;
  text-align: center;
}

.recipe-img > img {
  width: 100%;
}
