@import url("./variable.css");

@import url("./media-query.css");

.index-title {
  background-color: var(--color-index-title);
  text-align: center;
  margin: 0;
}
.index-body {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  position: relative;
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1rem 0;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  padding: 0 1rem;
}

.carousel-slides {
  display: flex;
  gap: 1.75rem;
  padding: 0 2.5rem;
}

.carousel-slide {
  flex: 0 0 calc(100% / 3 - 2rem);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.625rem;
  font-size: var(--text-size-medium);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.carousel-slide-container {
  border: 0.2rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 20rem;
}
.carousel-slide-container img {
  height: 25rem;
  width: 100%;
  border-radius: 1rem;
}
.carousel-slide-container p {
  color: var(--color-text-gray);
  text-align: center;
}

