@import url("./variable.css");
@import url("./index.css");
@import url("./media-query.css");

.recipes h1 {
  text-align: center;
  color: var(--color-index-title);
}

.recipe-img {
  max-width: 20%;
}
