@import url("./variable.css");

@import url("./media-query.css");

.register-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}
.register-images img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.down-img {
  padding-top: 1rem;
}

.button-register {
  background-color: var(--color-button-sub);
  color: var(--color-text-light);
}
.register {
  text-align: center;
  padding: 2rem;
}
.single-image {
  width: 25%;
}
