@import url("./variable.css");

@import url("./media-query.css");
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.text-size-small {
  font-size: var(--text-size-small);
}
.text-size-medium {
  font-size: var(--text-size-medium);
}
.text-size-large {
  font-size: var(--text-size-large);
}
.text-size-xlarge {
  font-size: var(--text-size-xlarge);
}

.text-size-xxlarge {
  font-size: var(--text-size-xxlarge);
}
.text-size-xxxlarge {
  font-size: var(--text-size-xxxlarge);
}
.text-size-xxxxlarge {
  font-size: var(--text-size-xxxxlarge);
}

.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.button-login {
  background-color: var(--color-button-index);
  color: var(--color-text-light);
}
.header-container {
  background-image: url("../assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 0 2rem;
  background-position-x: left;
  background-position-y: center;
}

.header-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.home-banner {
  width: 100%;
}

.menu-bar {
  display: flex;
  list-style: none;
  align-items: center;
  width: 50%;
  text-align: center;
  padding: 0.5rem 0;
  display: flex;
  gap: 2rem;
}

.menu-bar-item:hover {
  color: var(--color-text-light);
}

.menu-bar-item {
  color: var(--color-text-primary);
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.menu-bar-item--selected {
  font-weight: bold;
  text-decoration: underline;
  color: var(--color-text-menu);
  padding: 0.5rem 1.2rem;
  border-radius: 1rem;
}

.menu-bar-item--selected:hover {
  color: var(--color-text-light);
}

.social-icon {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}

.footer-bar {
  background-color: var(--color-footer);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.recipe-line-container p {
  margin: 0;
}
input:focus-visible {
  outline-color: var(--color-text-form);
}
input::placeholder {
  color: var(--color-text-form); /* Change this to the color you desire */
}

.form {
  display: flex;
  flex-direction: column;
  font-size: var(--text-size-large);
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
  padding: 2rem;
}
.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.form input {
  border-radius: 5px;
  border: 2px solid #c87007;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
/*index */
.recipe-line-container::before {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 30%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  content: "";
}
.recipe-line-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  cursor: pointer;
}

.recipe-line-container:hover::before {
  opacity: 1;
}
/*recipes/index recipes*/
.recipe-row {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;
  flex-wrap: wrap;
  padding-right: 0;
}
.recipe-line-container img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
}
.recipe-line-container p {
  color: var(--color-text-gray);
  text-align: center;
}
.recipe-line {
  width: calc(33% - 2rem);
  height: 25rem;
  padding: 1rem 0;
}
.recipe-line a {
  text-decoration: none;
}

.core-message {
  display: none;
  padding: 1rem;
  color: white;
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.core-message-error {
  background-color: var(--color-login-title);
}

.core-message-success {
  background-color: var(--color-button-share);
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-confirmation {
  text-align: center;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent grey background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
