@import url("./variable.css");

@import url("./media-query.css");

.button-back {
  background-color: var(--color-button-sub);
  color: var(--color-text-light);
}
.subscribe-success {
  background-image: url("../assets/thank-subscribe-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

