:root {
  --text-size-small: 0.94rem;
  --text-size-medium: 1rem;
  --text-size-large: 1.25rem;
  --text-size-xlarge: 1.5rem;
  --text-size-xxlarge: 2rem;
  --text-size-xxxlarge: 2.5rem;
  --text-size-xxxxlarge: 3rem;
  --text-font-main: Arial;

  --color-text-dark: #000000;
  --color-text-gray: #e29b9b;
  --color-text-light: #ffffff;
  --color-text-form: #e29b9b;
  --color-text-menu: #794a4a;
  --color-text-recipe-title: #7f2020;
  --color-text-spice4life: #f17575;
  --color-text-recipe-title: #857109;
  --color-index-title: #e29b9b;
  --color-index-title-bold: #6a2d2d;
  --color-footer: #e2e0dd;
  --color-login-title: #7f2020;

  --color-button-index: #e29b9b;
  --color-button-login: #e29b9b;
  --color-button-sub: #e29b9b;
  --color-button-share: #e29b9b;
  --color-button-create: #308246;
  --color-button-delete: #e91b0c;
}
