:root {
  --text-size-small: 0.94rem;
  --text-size-medium: 1rem;
  --text-size-large: 1.25rem;
  --text-size-xlarge: 1.5rem;
  --text-size-xxlarge: 2rem;
  --text-size-xxxlarge:2.5rem;
  --text-size-xxxxlarge:3rem;
  --text-font-main: Arial;

  --color-text-dark: #000000;
  --color-text-gray: #7e5710;
  --color-text-light: #ffffff;
  --color-text-form: #c87007;
  --color-text-menu: #794a4a;
  --color-text-recipe-title: #7f2020;
  --color-text-spice4life: #f17575;
  --color-text-recipe-title: #857109;
  --color-index-title: #e29b9b;
  --color-footer: #e2e0dd;
  --color-login-title:#7F2020;

  --color-button-index: #694747;
  --color-button-login: #c87007;
  --color-button-sub: #fc9100;
  --color-button-share: #035491;
  --color-button-create:#36914D;
}
