/* For Desktop View */
@media screen and (min-width: 1024px) {
  .subscribe-success {
    height: 35rem;
  }
.footer-right {
  padding: 2rem;
}

.edit-blog {
  padding: 0 5rem;
}

.edit-container {
  width: 50%;
}
}

