/* For Desktop View */
@media (min-width: 1281px) {
  .subscribe-success {
    height: 35rem;
  }
  .footer-right {
    padding: 2rem;
  }

  .edit-blog {
    padding: 0 5rem;
  }

  .edit-container {
    width: 50%;
  }

  .recipe-line {
    width: calc(33% - 2rem);
  }
  .about-body img {
    width: 50%;
  }
}
