/* For Tablet View */
@media (min-width: 801px) {
  .carousel-slide-container img {
    width: 100%;
  }
  .subscribe-success {
    height: 17rem;
  }
  .recipe-line {
    width: calc(50% - 2rem);
  }
  .header-logo img {
    width: 7rem;
  }
  .button-index {
    text-align: right;
  }
}
